<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

{% if session['logged_in'] and (session['Level'] >= 2) %}

      <table border="1">
         <thead>
            <tr><td>Name</td>
            <td>Age</td>
            <td>Phone Number</td>
            <td>HasCOVID</td>
            <td>Security Role Level</td>
            <td>Login Password</td>
         </tr></thead>
          <tbody>
          {% for index, row in rows.iterrows() %}

          <tr>
               <td>{{row["UserName"]}}</td>
               <td>{{row["UserAge"]}}</td>
               <td> {{ row["UserPhNum"]}}</td>
               <td> {{ row["UserHasCOVID"]}}</td>
               <td> {{ row["UserSecurityLevel"]}}</td>
               <td>{{row["LoginPassword"]}}</td>
            </tr>
      {% endfor %}
          </tbody>
      </table>
      
      <a href="/">Go back to home page</a>

{% endif %}

</body></html>